{% extends "base.html" %}
{% block content %}
  <main>
    <div class="container">


      <!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-fade pt-4" data-ride="carousel">

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="view" style="background-image: url(https://img36.rajce.idnes.cz/d3603/17/17239/17239350_c46038c43757eb3aadafeb38593c4992/images/IMG_20190616_201807.jpg?ver=0)); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Django Eshop</strong>
              </h1>

              <p>
                <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
              </p>

              <p class="mb-4 d-none d-md-block">
                <strong>Donec tincidunt nunc velit, nec varius nunc elementum ac.
                  Donec arcu ipsum, consectetur in posuere at, tincidunt volutpat ipsum. Sed luctus interdum justo non dapibus.
                  Donec sit amet tortor quis diam aliquet condimentum. Quisque viverra ligula ac turpis laoreet, in aliquam lacus aliquet.
                  Donec et sodales tortor, at auctor odio. Suspendisse tincidunt, dui vel semper iaculis, ipsum magna molestie odio,
                  et facilisis diam libero at turpis.</strong>
              </p>

              <a href="/about" class="btn btn-outline-white btn-lg">About
                <i class="fas fa-graduation-cap ml-2"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/First slide-->

      <!--Second slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%283%29.jpg'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Django Eshop</strong>
              </h1>

              <p>
                <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
              </p>

              <p class="mb-4 d-none d-md-block">
                <strong>Donec tincidunt nunc velit, nec varius nunc elementum ac.
                  Donec arcu ipsum, consectetur in posuere at, tincidunt volutpat ipsum. Sed luctus interdum justo non dapibus.
                  Donec sit amet tortor quis diam aliquet condimentum. Quisque viverra ligula ac turpis laoreet, in aliquam lacus aliquet.
                  Donec et sodales tortor, at auctor odio. Suspendisse tincidunt, dui vel semper iaculis, ipsum magna molestie odio,
                  et facilisis diam libero at turpis.</strong>
              </p>

              <a href="/sales" class="btn btn-outline-white btn-lg">Sales
                <i class="fas fa-graduation-cap ml-2"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Second slide-->

      <!--Third slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%285%29.jpg'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Django Eshop</strong>
              </h1>

              <p>
                <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
              </p>

              <p class="mb-4 d-none d-md-block">
                <strong>Donec tincidunt nunc velit, nec varius nunc elementum ac.
                  Donec arcu ipsum, consectetur in posuere at, tincidunt volutpat ipsum. Sed luctus interdum justo non dapibus.
                  Donec sit amet tortor quis diam aliquet condimentum. Quisque viverra ligula ac turpis laoreet, in aliquam lacus aliquet.
                  Donec et sodales tortor, at auctor odio. Suspendisse tincidunt, dui vel semper iaculis, ipsum magna molestie odio,
                  et facilisis diam libero at turpis.</strong>
              </p>

              <a href="/products" class="btn btn-outline-white btn-lg">Products
                <i class="fas fa-graduation-cap ml-2"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Third slide-->

    </div>
    <!--/.Slides-->

    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->

  </div>
  <!--/.Carousel Wrapper-->









      <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
            voluptates,
            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="/media/carrot.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="/media/banana.png" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="/media/apple.png" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>

      <!--Pagination-->

      {% if is_paginated %}
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% endif %}

          <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
              <span class="sr-only">(current)</span>
            </a>
          </li>

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}

    </div>
  </main>

{% endblock content %}


